/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: rgb(100,179,255);
  background: fixed radial-gradient(circle 200px at 50% 50%, rgb(100,179,255) 0%, black 1500px);

  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 26px;
  text-align: center;
  display:block;
}

#home { 
    height: 100%;
    width: 80%;
    margin-left: 10%; 
    float: left;
}

#home ul.hero { 
    height: 100%;
    display:block;
}

#home li.column { 
    display:block;
}

.links ul { 
    display: block;
}

.links li { 
    font-size: 1em;
    list-style: none;
    font-weight: 600;
}

.links a { 
    text-decoration: none;
}

div#header { 
    z-index: 99;
    display:block;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.name { 
    font-size: 2.5em;
    float:left;
    text-align:center;
}

.links a.linktext:hover{ 
    background: rgb(246,86,182);
    color: white;
    padding: 10px;
}

#header .linktext { 
    color: rgb(245, 245, 255);
    font-weight: 100;
    text-shadow: 0px -1px 2px rgba(0,0,0,0.6);
}

.my_face { 
    display: block;
    background: #fefefe url('../img/your-giffed-face.gif') -25px 0px;
    float: left;
    height: 150px;
    width: 150px;
    text-indent: -9999px;
    border-radius: 150px;
    margin-right:50px;

}

div#header h3 { 
    float:   left;
    display: block;
    padding: 0px;
    margin: 0px; 
}

.card { 
    margin-top: 20px;
    background: #fefefe;
    display: block;
    box-shadow: 2px 2px 5px rgba(0,0,0,.6);
    min-height: 200px;
    overflow: hidden;
}

.card .date { 
    display: block;
    float: left;
    text-align: left;
    margin-left: 10px;
    padding: 0;
    font-size: 0.6em;
    font-style: italic;
    color: #444;
    font-weight: 400;
    margin-bottom: 10px;
}

.card h3 { 
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
    text-shadow: none;
    font-size: 0.8em;
}

.card h3 a { 
    text-decoration: none;
    color: #222;
    text-shadow: none;
}

.card hr { 
    display:block;
    float: left;
    width: 100%;
    padding:0;
    margin:0;
    border: 1px solid #cdd;
    margin-bottom:10px;
}

.card ul, 
.card p {
    margin-bottom: 20px;
}

.card ul { 
    margin-left: 20px;
}

div.highlight { 
    margin-bottom:20px;
    overflow-x: scroll;
    border: 1px solid #ddd;
    padding:10px;
    width:90%;
}

.card .post_body,
.card .excerpt { 
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    float: left;
    font-weight: light;
    font-size: 0.6em;
    padding-bottom: 10px;
}

.card .post_body { 
    width: 90%;
}

.post { 
    display: block;
    width: 80%;
    margin-left: 10%;
    float: left;
}

.comments { 
    display:block;
    float: left;
    font-size: 0.5em;
    width: 100%;
}
.comments ul {
    display: block;
    float: left;
    list-style: none;
    height: 500px; 
    width:100%;
    overflow: scroll;
}
.comments img { 
    float: left;
    display:block;
}
.comments span.message { 
    float:left;
    display:block;
    margin-left:30px;
    text-align: left;
}
.comments ul li { 
    display:block;
    float:left;
    clear:left;
}

