body { 
    margin-top: 30px;
    background: #ece7d9;

}

h1, h2, h3, h4 {
    font-family: Garamond, Georgia, "Times New Roman", serif;
    color: #333;
}

a.linktext {
    text-decoration:none;
    color: #7999a4;
}

div.art-glob { 
    background: #a0cad9;
    height:100px; width:100%;
    /** try #addfff for foreground on this **/
}