<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>kevn.co | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pllrs.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="js/chat.js"></script>
    </head>
    <body>
        <div id="header" class="pllrs2 _211">
            <div class="name column linktext">Kevin Mooney</div>
            <div class="column">
                <ul class="links pllrs2 _222">
                    <li class="column"><a target="_blank" class="linktext" href="http://github.com/kmooney">Github</a></li>
                    <li class="column"><a target="_blank" class="linktext" href="http://twitter.com/kmooney">Twitter</a></li>
                    <li class="column"><a class="linktext" href="/contact.html">Contact</a></li>
                    <li class="column"><a class="linktext" href="/about.html">About</a></li>
                    <li class="column"><a class="linktext" href="/">Blog</a></li>
                </ul>
            </div>
        </div>
          {{ content }}
    </body>
</html>
