---
layout: default
comments: true
---
<div class="post">
    <div class="card">
        <h3>{{ page.title }}</h3>
        <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        <hr/>
        <div class="post_body">
                {{ content }}
        </div>
        {% if page.showcomments == true %} 
        <div class="comments" ng-app="myApp">
            <h3>Comments</h3>
            <div ng-controller="ChatController">
                <ul class="commentlist">
                    <li ng-repeat="comment in comments" id="[[ comment.id ]]">
                        <img src="http://www.gravatar.com/avatar/[[ comment.emailhash ]]?s=50&d=identicon">
                        <span class="message">[[ comment.message ]]</span>
                    </li>
                </ul>
                <form ng-submit="addComment()">
                    <p>
                    <label>Your Email: 
                        <input type="text" ng-model="commentEmail" helptext="Emails are not stored, just used for avatars."></label>
                    </p>
                    <p>
                    <label>Comment:
                        <textarea ng-model="commentMessage" ng-enter="addComment()">
                        </textarea>
                    </label>
                    </p>
                </form>
            </div>  
        </div>        
        {% endif %} 
    </div>
</div>
