---
layout: default
comments: true
---
<div class="post">
    <div class="card">
        <h3>{{ page.title }}</h3>
        <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        <hr/>
        <div class="post_body">
                {{ content }}
        </div>
        {% if page.showcomments == true %} 
        <div class="commentariat" ng-app>
            <div ng-controller="ChatController">
                <li ng-repeat="comment in comments">
                </li>
                <form ng-submit="addComment()">
                    <p>
                        Your Email: 
                        <input type="text" ng-model="commentEmail">
                    </p>
                    <p>
                        Comment:
                        <textarea ng-model="commentMessage">
                        </textarea>
                    </p>
                    <input type="submit"/>
                </form>
            </div>  
        </div>        
        {% endif %} 
    </div>
</div>
